<figure>
	{% if {{include.url}} %}
		<a class="no_icon" target="_blank" href="{{include.url}}">
	{% endif %}
	<img class="docimage" 
		src="{{site.baseurl}}/images/{{include.file}}" 
		alt="{{include.alt}}" 
		{% if {{include.max-width}} or {{include.margin-left}} or {{include.shadow}} %}
			style="
			{% if {{include.max-width}} %}
				max-width: {{include.max-width}};
			{% endif %}
			{% if {{include.margin-left}} %}
				margin-left: {{include.margin-left}};
			{% endif %}
			{% if {{include.shadow}} %}
				box-shadow: {{include.shadow}};
			{% endif %}
			"
		{% endif %} 
	/>
	{% if {{include.url}} %}
		</a>
	{% endif %}
	{% if {{include.caption}} %}
		<figcaption
		{% if {{include.caption-margin-top}} or {{include.caption-margin-left}} %}
			style="
			{% if {{include.caption-margin-top}} %}
				margin-top:{{include.caption-margin-top}};
			{% endif %}
			{% if {{include.caption-margin-left}} %}
				margin-left:{{include.caption-margin-left}};
			{% endif %}
			"
		{% endif %}
		>
		{{include.caption}}
		</figcaption>
	{% endif %}
</figure>
