{% comment %}
vim: ts=3 ft=javascript

	This file is used to include content common to all webpages on the website

{% endcomment %}

<script>

window.addEventListener("DOMContentLoaded", function() {
	externalLinksToNewTab();
	processSidebar();
   updateHash(window.location.hash);
	showSidebar();
	showNavbar();
	processKeypressSpans();
});



//////////////////////////////
//
// showNavbar --
//

function showNavbar() {
	var navbars = document.querySelectorAll("ul.nav");
	if (!navbars) {
		return;
	}
	var i;
	for (i=0; i<navbars.length; i++) {
		navbars[i].style.visibility = "visible";
	}
}




//////////////////////////////
//
// showSidebar --
//

function showSidebar() {
	var sidebar = document.querySelector("ul#mysidebar");
	if (!sidebar) {
		return;
	}
	sidebar.style.visibility = "visible";
	sidebar.style.display = "block";
}



//////////////////////////////
//
// processKeypressSpans --
//

function processKeypressSpans() {
	var klist = document.querySelectorAll("span.keypress");
	var i;
	var j;
	for (i=0; i < klist.length; i++) {
		var text = klist[i].innerHTML;
		var newtext = insertKbdIntoSpan(text);
		klist[i].innerHTML = newtext;
	}
}

//////////////////////////////
//
// addKbdToSpanKeypress -- Only works on a single span.keypress in the text.
//

function addKbdToSpanKeypress(text) {
	var ntext = text.replace(/&lt;/g, "<")
                   .replace(/&gt;/g, ">")
                   .replace(/&#39;/g, "'");
	var matches = ntext.match(/(.*<span[^;]*keypress[^;]*>)(.*)(<\/span>.*)/);
	if (!matches) {
		return text;
	} else {
		// return matches[2];
		return insertKbdIntoSpan(ntext) + " command";
	}
}



//////////////////////////////
//
// insertKbdIntoSpan --
//

function insertKbdIntoSpan(text) {
	if (text.match("kbd")) {
		return text;
	}
	var pieces = text.split("-");
	var newtext = "";
	for (var j=0; j < pieces.length; j++) {
		var subpieces = pieces[j].split("+");
		for (var k=0; k < subpieces.length; k++) {
			newtext += "<kbd>" + subpieces[k] + "</kbd>";
		}
		if (j < pieces.length - 1) {
			newtext += "+";
		}
	}
	newtext = newtext
	  	.replace(/shift/gi, "shft")
	  	.replace(/control/gi, "ctrl")
	  	.replace(/escape/gi, "esc")
	  	.replace(/up/gi, "<span style='font-size:95%; position:relative; top:2px;' class='glyphicon glyphicon-arrow-up'></span>")
	  	.replace(/down/gi, "<span style='font-size:95%; position:relative; top:3px;' class='glyphicon glyphicon-arrow-down'></span>")
	  	.replace(/left/gi, "<span style='position:relative; top:2px;' class='glyphicon glyphicon-arrow-left'></span>")
	  	.replace(/right/gi, "<span style='position:relative; top:2px;' class='glyphicon glyphicon-arrow-right'></span>")
	  	.replace(/minus/gi, "-")
	  	.replace(/plus/gi, "+")
	  	.replace(/hash/gi, "#")
	  	.replace(/at/gi, "@")
	  	.replace("←", "<span style='position:relative; top:2px;' class='glyphicon glyphicon-arrow-left'></span>")
	  	.replace("→", "<span style='position:relative; top:2px;' class='glyphicon glyphicon-arrow-right'></span>")
	  	.replace("command", "&#8984;");
	return newtext;
}



//////////////////////////////
//
// externalLinksToNewTab -- Make all external links on a page be displayed
//    in a new tab/window.
//

function externalLinksToNewTab() {
	var links = document.querySelectorAll("a");
	var i;
	for (i=0; i<links.length; i++) {
		var text = links[i].getAttribute("href");
		if (!text) {
			continue;
		}
		if (text.match("//")) {
			links[i].target = "_blank";
		}
	}
}


//////////////////////////////
//
// processSidebar --
//

function processSidebar() {
	var sidebar = document.querySelector("#mysidebar");
	var mainlist = sidebar.querySelectorAll("#mysidebar > li");
	var i;
	for (i=0; i<mainlist.length; i++) {
		var classname = mainlist[i].className;
		if (classname.match("sidebarTitle")) {
			continue;
		}
		var foundit = processSubmenu(mainlist[i]);
		if (foundit) {
			mainlist[i].className += " active";
			break;
		}
	}


}



//////////////////////////////
//
// processSubmenu --
//

function processSubmenu(list) {
	newlist = list.querySelectorAll("ul > li > a");
	var i;
	var target = window.location.pathname.replace(/\/$/, "");
	if (target == "") {
		target = "/";
	}
	var found = 0;
	var index = -1;
	for (i=0; i<newlist.length; i++) {
		if (target === newlist[i].getAttribute("href")) {
			found = 1;
			index = i;
			break;
		}
	}
	if (!found) {
		return 0;
	}
	if (index < 0) {
		return 0;
	}
	newlist[index].parentNode.className += " active";
	var ul = list.querySelector("ul");
	ul.style.display = "block";
	return 1;

}


//////////////////////////////
//
// hashchange event -- Need to shift the page slightly to show the 
//   top of the anchor text below the navigator bar.
//


window.addEventListener("hashchange", function() {
	updateHash();
});

function updateHash(hash) {
	// console.log("HASH UPDATE", window.location.hash, hash);
	if (hash) {
		window.location.hash = hash;
	}
	var nav = document.querySelector("nav.navbar");
	var height = nav.offsetHeight - 60;
	// wait until after the page location has changed:
	setTimeout(function(){
 		$(window).scrollTop($(window).scrollTop() - height);
	}, 100);
}



</script>


