{% include custom/sidebarconfigs.html %}

<ul id="mysidebar" class="nav">
    <li class="sidebarTitle">{{sidebar[0].product}} {{sidebar[0].version}}</li>
    {% for entry in sidebar %}
    {% for folder in entry.folders %}
    {% if folder.output contains "web" %}
    <li>
        <a href="#">{{ folder.title }}</a>
        <ul>
            {% for folderitem in folder.folderitems %}
            {% if folderitem.output contains "web" %}
            {% if folderitem.external_url %}
            <li><a href="{{folderitem.external_url}}" target="_blank"> &nbsp;&nbsp;&nbsp; {{folderitem.title}}</a></li>
            {% elsif page.url == folderitem.url %}
            <li class="active"><a href="{{folderitem.url }}"> &nbsp;&nbsp;&nbsp; {{folderitem.title}}</a></li>
            {% else %}
            <li><a href="{{folderitem.url }}"> &nbsp;&nbsp;&nbsp; {{folderitem.title}}</a></li>
            {% endif %}
            {% for subfolders in folderitem.subfolders %}
            {% if subfolders.output contains "web" %}
            <li class="subfolders">
                <a href="#">{{ subfolders.title }}</a>
                <ul>
                    {% for subfolderitem in subfolders.subfolderitems %}
                    {% if subfolderitem.output contains "web" %}
                    {% if subfolderitem.external_url %}
                    <li><a href="{{subfolderitem.external_url}}" target="_blank"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{subfolderitem.title}}</a></li>
                    {% elsif page.url == subfolderitem.url %}
                    <li class="active"><a href="{{subfolderitem.url | remove: "/"}}"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{subfolderitem.title}}</a></li>
                    {% else %}
                    <li><a href="{{subfolderitem.url | remove: "/"}}"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{subfolderitem.title}}</a></li>
                    {% endif %}
                    {% endif %}
                    {% endfor %}
                </ul>
            </li>
            {% endif %}
            {% endfor %}
            {% endif %}
            {% endfor %}
        </ul>
        {% endif %}
        {% endfor %}
        {% endfor %}
        <!-- if you aren't using the accordion, uncomment this block:
           <p class="external">
               <a href="#" id="collapseAll">Collapse All</a> | <a href="#" id="expandAll">Expand All</a>
           </p>
           -->
    </li>
</ul>
</div>

<!-- this highlights the active parent class in the navgoco sidebar. this is critical so that the parent expands when you're viewing a page. This must appear below the sidebar code above. Otherwise, if placed inside customscripts.js, the script runs before the sidebar code runs and the class never gets inserted.-->
<script>$("li.active").parents('li').toggleClass("active");</script>



<script>

// Monitor sidebar and remove affix class if it is longer than the window.

OBSERVER = {};
OBSERVER.observer = null;
OBSERVER.target = null;
OBSERVER.callback = null;
OBSERVER.config = {
	attributes: true,
	childList: true,
	subtree: true
};

document.addEventListener("DOMContentLoaded", function () {
	OBSERVER.target = document.querySelector("#mysidebar");
	let config = {
		attributes: true,
		childList: true,
		subtree: true
	};
	OBSERVER.callback = function(mutationList, observer) {
		let bbox = OBSERVER.target.getBoundingClientRect();
		let bottom = window.innerHeight;
		if (bbox.bottom > bottom) {
			if (OBSERVER.target.className.match(/affix/)) {
				console.log("FIX HEIGHT");
				observer.disconnect();
				OBSERVER.target.classList.remove("affix");
				OBSERVER.target.scrollIntoView();
				observer.observe(OBSERVER.target, OBSERVER.config);
			}
		} else if (!OBSERVER.target.className.match(/affix/)) {
			console.log("DONT FIX HEIGHT");
			observer.disconnect();
			OBSERVER.target.classList.add("affix");
			observer.observe(OBSERVER.target, OBSERVER.config);
		}
	};

	OBSERVER.observer = new MutationObserver(OBSERVER.callback);
	OBSERVER.observer.observe(OBSERVER.target, OBSERVER.config);

	window.addEventListener("resize", function () {
		if (!OBSERVER.target) {
			return;
		}
		let bbox = OBSERVER.target.getBoundingClientRect();
		let bottom = window.innerHeight;

		if (bbox.bottom > bottom) {
			if (OBSERVER.target.className.match(/affix/)) {
				OBSERVER.target.classList.remove("affix");
				OBSERVER.target.scrollIntoView();
			}
		} else if (!OBSERVER.target.className.match(/affix/)) {
			OBSERVER.target.classList.add("affix");
		}
	});


});



</script>
