<!DOCTYPE html>
<head>
<!--
	vim: ts=3
-->
	{% include head.html %}
	<script>
		$(document).ready(function() {
				// Initialize navgoco with default options
				$("#mysidebar").navgoco({
					caretHtml: '',
					accordion: true,
					openClass: 'active', // open
					save: false, // leave false or nav highlighting doesn't work right
					cookie: {
						name: 'navgoco',
						expires: false,
						path: '/'
					},
					slide: {
						duration: 400,
						easing: 'swing'
					}
				});

				$("#collapseAll").click(function(e) {
					e.preventDefault();
					$("#mysidebar").navgoco('toggle', false);
				});

				$("#expandAll").click(function(e) {
					e.preventDefault();
					$("#mysidebar").navgoco('toggle', true);
				});

		});

	</script>
	<script>
		$(function () {
				$('[data-toggle="tooltip"]').tooltip()
		})
	</script>
	{% if page.datatable == "true" %}
		{% if site.local == "true" %}
			<link rel="stylesheet" type="text/css" href="{{site.baseurl}}/css/local/jquery.dataTables.css">
			<script type="text/javascript" charset="utf8" src="{{site.baseurl}}/js/local/jquery.dataTables.js"></script>
		{% else %}
			<link rel="stylesheet" type="text/css" href="http://cdn.datatables.net/1.10.13/css/jquery.dataTables.css">
			<script type="text/javascript" charset="utf8" src="http://cdn.datatables.net/1.10.13/js/jquery.dataTables.js"></script>
		{% endif %}

	<script>


//////////////////////////////
//
// makeFlatTableData -- used for creating key tables from JSON data in keytable.html
//      template.
//

function makeFlatTableData(jsonData) {
	var data = JSON.parse(jsonData);
	var dataOutput = [];
	var columnOutput = [{
		data: "group", title: "Group"}
	];
	var i;
	var j;
	var obj;
	var entry;
	var kentry;

	for (i=0; i<data.tableColumns.length; i++) {
		entry = data.tableColumns[i];
		obj = {};
		obj.data = entry.data;
		obj.title = entry.title;
		columnOutput.push(obj);
	}

	for (i=0; i<data.categoryList.length; i++) {
		entry = data.categoryList[i];
		for (j=0; j<entry.keyList.length; j++) {
			kentry = entry.keyList[j];
			obj = {};
			obj.group = entry.categoryName;
			for (var p in kentry) {
				if (kentry.hasOwnProperty(p)) {
					obj[p] = kentry[p];
				}
			}
			dataOutput.push(obj);
		}
	}

	return [columnOutput, dataOutput];
}




	</script>

	{% endif %}

{% if page.aton == "true" %}
	<script src="/js/aton.js"></script>
{% endif %}

<!-- XXX {{page.verovio}} -->
{% if page.verovio == "true" %}
	{% if site.local == "true" %}
		<script src="{{site.baseurl}}/js/local/verovio-toolkit.js"></script>
	{% else %}
		<script src="http://verovio-script.humdrum.org/scripts/verovio-toolkit.js"></script>
	{% endif %}
{% endif %}


</head>
<body>


{% if page.verovio == "true" %}
	{% include verovio_support_functions.html %}
{% endif %}

{% include topnav.html %}
<!-- Page Content -->
<div class="container">
	<div class="col-lg-12">&nbsp;</div>
	<!-- Content Row -->
	<div class="row">
		<!-- Sidebar Column -->
		<div class="col-md-3">

			{% include sidebar.html %}
	<!-- Content Column -->
	<div class="col-md-9">
		{{content}}
	</div>
	<!-- /.row -->
</div>
<!-- /.container -->
</div>

<!-- ZZZ {{site.local}} -->
{% if site.local != "true" %}
	{% if site.google_analytics %}
   	{% include google_analytics.html %}
	{% endif %}
{% endif %}
</body>
</html>


